* {
	/*border: solid 1px blueviolet;*/
}

.b {
	position: ;
	margin-top: 15px;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: "微软雅黑";
	font-size: 14px;
	width: 600px;
	
}

a:link,
a:visited {}

.one {
	margin-left: 55px;
	height: 100px;
	width: 745px;
	-webkit-border-radius: 4px;
	background: #B6D4F3;
	padding-left: 70px;
}

.one1_1 {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	margin-top: 10px;
	margin-left: 20px;
}

.one1 {
	font-size: 17px;
	font-style: normal;
	color: goldenrod;
	width: 200px;
	margin-top: -55px;
	margin-left: 100px;
}

.one3_1 {
	float: left;
	height: 15px;
	margin-left: 100px;
	margin-top: 20px;
}

.one2 {
	float: left;
	font-size: 12px;
	width: 200px;
	margin-top: 20px;
	margin-left: 7px;
}

.two {
	margin-left: 645px;
	margin-top: -55px;
	width: 60px;
	height: 50px;
}

.one3 {
	display: inline-block;
	width: 85px;
	height: 30px;
	background: cornflowerblue;
	color: white;
	float: right;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	background: #4182fa;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
}

.three {
	margin-top: -160px;
	margin-left: -3px;
}

.four {
	margin-top: -95px;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	margin-left: 90px;
}

.four textarea {
	margin-left: 40px;
	margin-top: -20px;
	border-radius: 4px;
	border-color: #DCDFE6;
	height: 70px;
	width: 515px
}



* {
	outline: none;
}

body {
	margin: 0;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input {
	line-height: normal;
}

img {
	border: 0;
}

*,
 ::after,
 ::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
dd,
dl,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
option,
p,
td,
textarea,
ul {
	margin: 0;
	padding: 0;
}

a,
input,
select {
	outline: none;
}

button,
i,
input,
select,
textarea {
	font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	line-height: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

.personalDataWrap {
	width: 890px;
	padding: 34px 34px 0;
	position: relative;
}

.mineWrap .mineBox .mineInner {
	float: left;
	margin-left: 30px;
	width: 900px;
	height: auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


/* @media screen and (max-width:1234px) */

.mineWrap .mineBox [data-v-616fe2b1].mineInner {
	width: calc(-344px + 100vw);
}


/* @media screen and (max-width:899px) */

.mineWrap .mineBox [data-v-616fe2b1].mineInner {
	width: calc(-48px + 100vw);
	margin: 0 24px;
}

.mineWrap .mineBox {
	width: 1184px;
	margin: 0 auto;
	background: #fff;
	padding: 0;
}

.mineWrap [data-v-616fe2b1].mineBox {
	max-width: 1234px;
	padding: 0 32px;
	width: auto;
}


/* @media screen and (max-width:899px) */

.mineWrap [data-v-616fe2b1].mineBox {
	padding: 0;
}

.mineWrap {
	width: 100%;
	height: auto;
	padding-top: 22px;
	padding-bottom: 100px;
}

.main.view {
	padding-top: 88px;
}

[data-v-6a45ba7a].main {
	position: relative;
}

#app {
	font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, "sans-serif";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	color: #000;
	padding-right: 0px !important;
	width: 100%;
	height: 100%;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	color: #333;
	background-color: #fff;
}

html {
	width: 100%;
	height: 100%;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.personalDataWrap .loginingBox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: hsla(0, 0%, 100%, .9);
}

.el-dialog__wrapper {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: auto;
	margin: 0;
}

.el-dialog,
.el-pager li {
	background: #fff;
	-webkit-box-sizing: border-box;
}

.el-dialog {
	position: relative;
	margin: 0 auto 50px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
}

.bindAccountWrap .el-dialog {
	width: 462px;
}

.el-dialog__header {
	padding: 20px 20px 10px;
}

.bindAccountWrap .el-dialog .el-dialog__header {
	display: none;
}

.el-dialog__title {
	line-height: 24px;
	font-size: 18px;
	color: #303133;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.el-dialog__headerbtn {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
	background: 0 0;
	border: none;
	outline: 0;
	cursor: pointer;
	font-size: 16px;
}

[class*=' el-icon-'],
[class^=el-icon-] {
	font-family: element-icons !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.el-dialog__headerbtn .el-dialog__close {
	color: #909399;
}

.changePasswordWrap .el-dialog__headerbtn .el-icon-close {
	font-size: 18px;
	color: #333;
}

.changeEmailWrap .el-dialog__headerbtn .el-icon-close {
	font-size: 18px;
	color: #333;
}

.changePhoneWrap .el-dialog__headerbtn .el-icon-close {
	font-size: 18px;
	color: #333;
}

.personalDataWrap .accountInfo .accountTip {
	height: 80px;
	line-height: 80px;
	margin-top: 20px;
	margin-left: 50px;
}

.personalDataWrap .accountInfo .accountBox {
	width: 745px;
	height: 200px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-top: 20px;
	padding-left: 60px;
}

.personalDataWrap .accountInfo .langBox {
	width: 100%;
	height: 80px;
	background: #fcfcfc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

ol,
ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

.personalDataWrap .accountInfo .langBox .langWrap {
	width: 250px;
}

.personalDataWrap .accountInfo .langBox .langWrap .langWrapItem {
	position: relative;
	height: 40px;
	line-height: 40px;
}

.personalDataWrap .accountInfo .langBox .langWrap .langWrapItem .span1 {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	margin-left: 50px;
}

.personalDataWrap .accountInfo .langBox .langWrap .langWrapItem .span2 {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-left: 10px;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0px;
}

.personalDataWrap .accountInfo .langBox .langWrap .langWrapItem .langList {
	width: 106px;
	background: #fcfcfc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .16);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16);
}

.personalDataWrap .accountInfo .langBox .langWrap .langWrapItem .langList .langItem {
	padding-left: 12px;
	height: 28px;
	line-height: 28px;
	color: #666;
	font-size: 14px;
	cursor: pointer;
}

.personalDataWrap .accountInfo .accountBox ul {
	width: 400px;
	float: left;
}

.personalDataWrap .accountInfo .accountBox ul li {
	height: 40px;
	line-height: 40px;
	clear: both;
}

.personalDataWrap .accountInfo .accountBox ul li .span1 {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	margin-left: 50px;
}

.personalDataWrap .accountInfo .accountBox ul li .span3 {
	margin-left: 10px;
	cursor: pointer;
	color: #4182fa;
	display: inline;
}

img {
	vertical-align: middle;
}

.personalDataWrap .accountInfo .accountBox ul li .loginWei,
.personalDataWrap .accountInfo .accountBox ul li .notLoginWei {
	float: left;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	margin-top: 13px;
}

.personalDataWrap .accountInfo .accountBox ul li .span2 {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-left: 10px;
}

.personalDataWrap .accountInfo .accountBox ul li .span5 {
	display: none;
	margin-left: 10px;
	cursor: pointer;
	color: #4182fa;
}

.personalDataWrap .accountInfo .accountBox ul li .spanPassword {
	line-height: 46px;
}

.personalDataWrap .accountInfo .accountTip span {
	float: left;
	font-size: 20px;
	font-weight: 500;
	color: #333;
}

.personalDataWrap .personalInfo .personalTip {
	height: 60px;
	margin-top: 5px;
	line-height: 40px;
	margin-left: 50px;
}

.personalDataWrap .personalInfo .personalBox {
	width: 745px;
	height: 285px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding-top: 20px;
	padding-left: 60px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft,
.personalDataWrap .personalInfo .personalBox .boxRight {
	float: left;
	width: 300px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi {
	height: 40px;
	line-height: 40px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .span1,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .span1 {
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	margin-left: 50px;
}

.el-cascader {
	display: inline-block;
	position: relative;
	font-size: 14px;
	line-height: 40px;
}

.el-cascader--medium {
	font-size: 14px;
	line-height: 36px;
}

.el-date-editor {
	position: relative;
	display: inline-block;
	text-align: left;
}

.el-input {
	position: relative;
	font-size: 14px;
	display: inline-block;
	width: 100%;
	margin-left: 10px;
}

.el-input--medium {
	font-size: 14px;
}

.el-cascader .el-input {
	cursor: pointer;
}

.el-select>.el-input {
	display: block;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
	width: 220px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-input,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-input {
	width: 178px;
	height: 36px;
}

.el-cascader__dropdown {
	margin: 5px 0;
	font-size: 14px;
	background: #fff;
	border: 1px solid #e4e7ed;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.el-cascader-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
}

.el-scrollbar {
	overflow: hidden;
	position: relative;
}

.el-cascader-menu {
	min-width: 180px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	border-right: 1px solid #e4e7ed;
}

:last-child.el-cascader-menu {
	border-right: none;
}

.el-select-dropdown__wrap {
	max-height: 274px;
}

.el-scrollbar__wrap {
	overflow: scroll;
	height: 100%;
}

.el-cascader-menu__wrap {
	height: 204px;
}

.el-scrollbar__bar {
	position: absolute;
	right: 2px;
	bottom: 2px;
	z-index: 1;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	-webkit-transition: opacity .12s ease-out;
	-o-transition: opacity .12s ease-out;
	transition: opacity .12s ease-out;
}

.el-scrollbar__bar.is-horizontal {
	height: 6px;
	left: 2px;
}

.el-scrollbar__bar.is-vertical {
	width: 6px;
	top: 2px;
}

.el-scrollbar__thumb {
	position: relative;
	display: block;
	width: 0px;
	height: 0px;
	cursor: pointer;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	background-color: rgba(144, 147, 153, 0.3);
	-webkit-transition: background-color .3s;
	-o-transition: .3s background-color;
	transition: background-color .3s;
}

.el-scrollbar__bar.is-vertical>div {
	width: 100%;
}

.el-scrollbar__bar.is-horizontal>div {
	height: 100%;
}

.el-cascader-menu__list {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 6px 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.el-cascader-node {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 30px 0 20px;
	height: 34px;
	line-height: 34px;
	outline: 0;
}

:not(.is-disabled).el-cascader-node {
	cursor: pointer;
}

:last-child.el-cascader-menu .el-cascader-node {
	padding-right: 20px;
}

.el-cascader-node__label {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.el-cascader-node__postfix {
	position: absolute;
	right: 10px;
}

.el-input__inner {
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #DCDFE6;
	border-color: #DCDFE6 -webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	height: 40px;
	line-height: 40px;
	outline: 0;
	padding: 0 15px;
	-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	-o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	width: 100%;
}
#validationCustom05{
	
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

.el-select .el-input__inner {
	cursor: pointer;
	padding-right: 35px;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
	border-color: #409eff;
	outline: 0;
}

.el-input--suffix .el-input__inner {
	padding-right: 30px;
}

.el-input--prefix .el-input__inner {
	padding-left: 30px;
}

.el-input--medium .el-input__inner {
	height: 36px;
	line-height: 36px;
}

.el-cascader .el-input .el-input__inner {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.el-select .el-input.is-focus {
	border-color: #409eff;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-input input,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-input input {
	height: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 16px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .birthdayInp .el-date-editor--date input,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .birthdayInp .el-date-editor--date input {
	padding-left: 15px;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-input .el-cascader__label,
.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-input .el-input__inner,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-input .el-cascader__label,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-input .el-input__inner {
	color: #333 !important;
}

.el-input__suffix,
.el-tree.is-dragging .el-tree-node__content * {
	pointer-events: none;
}

.el-input__prefix,
.el-input__suffix {
	position: absolute;
	top: 0px;
	-webkit-transition: all .3s;
	height: 100%;
	color: #c0c4cc;
	text-align: center;
}

.el-input__suffix {
	right: 5px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.el-input__suffix-inner {
	pointer-events: all;
}

.el-input__prefix {
	left: 5px;
}

.el-input__icon,
.el-input__prefix {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.el-input__icon {
	height: 100%;
	width: 25px;
	text-align: center;
	line-height: 40px;
}

.el-input--medium .el-input__icon {
	line-height: 36px;
}

.el-cascader .el-input .el-icon-arrow-down {
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	font-size: 14px;
}

.el-select {
	display: inline-block;
	position: relative;
}

.el-select-dropdown {
	position: absolute;
	z-index: 1001;
	border: 1px solid #e4e7ed;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 5px 0;
}

.el-select-dropdown__list {
	list-style: none;
	padding: 6px 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.el-select-dropdown__item {
	font-size: 14px;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #606266;
	height: 34px;
	line-height: 34px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.el-cascader-menu .is-active,
.el-select-dropdown__list .selected {
	color: #4182fa !important;
	font-weight: 400 !important;
}

.el-select-dropdown__item.selected {
	color: #409eff;
	font-weight: 700;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-select-dropdown .el-select-dropdown__list .selected,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-select-dropdown .el-select-dropdown__list .selected {
	color: #4182fa !important;
	font-weight: 500 !important;
}

.el-select .el-input .el-select__caret {
	color: #c0c4cc;
	font-size: 14px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	cursor: pointer;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .birthdayInp .el-date-editor--date .el-input__prefix,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .birthdayInp .el-date-editor--date .el-input__prefix {
	display: none;
}

.el-select .el-input__inner:focus {
	border-color: #409eff;
}

.personalDataWrap .personalInfo .personalBox .boxLeft .infoList .infoLi .el-input__inner:focus,
.personalDataWrap .personalInfo .personalBox .boxRight .infoList .infoLi .el-input__inner:focus {
	border-color: #4182fa;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: .2s;
	transition-duration: 0.2s;
}

.el-select .el-input .el-select__caret.is-reverse {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0);
	transform: rotate(0deg);
}

.personalDataWrap .personalInfo .personalTip span:first-of-type {
	float: left;
	font-size: 20px;
	font-weight: 500;
	color: #333;
}

.personalDataWrap .personalInfo .personalTip .saveBtnCli {
	float: right;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	width: 85px;
	height: 30px;
	background: #4182fa;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	margin-top: 25px;
}

.personalDataWrap .loginingBox img {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: auto;
}

.one,
.accountBox,
.personalBox {
	background-image: url(../img/QQ截图20201208123813.png);
}

 ::-webkit-inner-spin-button{
 	display: none;
 }
 ::-webkit-clear-button{
 	display: none;
 }
::-webkit-calendar-picker-indicator {
	position: relative;
	margin-right: -15px;
}


.right1{
	display: inline-block;
	margin-left: 40px;
}
.left1{
	margin-left: -20px;
}
